

<footer>
    <div id="socials">
        <a id="socials" href="/"><i  class="fa-brands fa-instagram"></i></a>
        <a  id="socials"href="/"> <i  class="fa-brands fa-twitter"></i></a>
        <a  id="socials"href="/"> <i  class="fa-brands fa-linkedin"></i></a>
    </div>
<div>
    <a href="">FAQ</a>
    <a href="/privacy">Privacy Policy</a>
    <a href="">Email Us</a>
</div>
</footer>