
<nav>

    <div id="brand-name"> <h3 class="Brand-name"> Mail-Depot</h3></div>
    <div>
        <a href="/About">About</a>
        <a href="/Contact"> Contact</a>
    </div>
    <div id="socials">
        <a id="socials" href="/"><i  class="fa-brands fa-instagram"></i></a>
        <a  id="socials"href="/"> <i  class="fa-brands fa-twitter"></i></a>
        <a  id="socials"href="/"> <i  class="fa-brands fa-linkedin"></i></a>
    </div>
</nav>