<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail-Depot | <%= title %> </title>
    <link rel="stylesheet" href="/404.css">
</head>
<body>
    <nav>
        <div><h1>404 | Forbidden</h1></div>
    </nav>
    <section>
            <img src="/404.png">
            <img src="/404txt.png">
           
                <h2>Hello Chief , You Look Lost , </h2>
                    <p>Kindly click the Button Below to get redirected to the Home Page</P>
                <button>Go To Home</button>
                <p>Click the Button Above</p>
    </section>
</body>
</html>